*{
	margin: 0;
	padding: 0;
}
body,html{
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-weight: normal;
}
h1{
	text-align: center;
	color: red;
	font-weight: bolder;
	font-size: 40px;
}
.background{
	background-image: url(81032796-client-support-service-workdesk-with-contact-us-signs-dark-background-top-view-mockup.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	width: 100%;
	height: 100%;
}
img{
	display: inline-block;
	margin: 1px;
	text-decoration:none;
}
#proper ul li{
	text-decoration: none;
	font-size: 28px;
    font-weight: bold;
    height: 90px;
    margin: 5px 0px;	
    background-color: black;
    color: white;
    line-height: 90px;
    text-align: center;
    transition: 200ms;
    margin: 5px;
    width: 200px;
    transition: 300ms;
    border-radius: 10px;
}
.pic1 img{
	height: 30px;
	width: 30px;
}
.pic2 img{
	height: 25px;
	width: 25px;
}