@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
*{
	margin: 0;
	padding: 0;
}
h2{
    color: red;
    font-size: 30px;
    margin-left: 10px;
	font-weight: bolder;
}
body{
	background-image: url(https://wallpapercave.com/wp/wp2208747.jpg);
	background-repeat:no-repeat;
	background-size: cover;
    background-attachment: fixed;
}
body,html{
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-weight: normal;
}
h3{
	font-size: 40px;
	text-align: center;
	color: black;
	font-family: 'Dancing Script', cursive;
	margin-left: 10;
	font-weight: bolder;
}
p{
	color: black;
	background-color:transparent;
	margin: 50px;
	padding: top right bottom left;
	padding: 2em 3em 2em 3em;
	display: inline-block;
	width: 40%;
	font-family: 'Dancing Script', cursive; 
	font-size: 22px;
	font-weight: bold;
}
img{
	margin-bottom: 10;
	width: 20%;
	text-align: right;
	margin: 10px;
}
#xyz{
	color: red;
}
li{
	margin: 30px;
	left: 10px;
	font-family: 'Dancing Script', cursive; 
	color: black;
	font-size: 24px;
	font-weight: bold;
}