@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
	margin: 0;
	padding: 0;
}
body,html{
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-weight: normal;
}
h1{
	text-align: center;
	color: #08FDD8;
	font-weight: bolder;
	font-size: 50px;
}
.background{
	background-image: url(030779.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	width: 100%;
	height: 100%;
}
.nav{
	width: 350px;
	background-color: transparent;
	position: absolute;
	top: 20%;
}
.nav a{
	text-decoration: none;
	font-size: 28px;
    font-family: 'Roboto', sans-serif; 
    font-weight: bold;
    height: 90px;
    margin: 5px 0px;	
    float: left;
    display: inline-block;
    background-color: black;
    color: white;
    line-height: 90px;
    text-align: center;
    transition: 200ms;
    border-radius: 5px;
}
a,.nav a:hover{
	background-color: yellow;
	color: white;
	width: 100%;
}
.a{
	width: 80%;
}
.b{
	width: 70%;
}
.c{
	width: 65%;
}
.d{
	width: 80%;
}