*{
	margin: 0;
	padding: 0;
}
body,html{
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-weight: normal;
}
.background{
	background-image: url(Qualification-1200x545_c.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	width: 100%;
	height: 100%;
}
h1{
	text-align: center;
	color: white;
	font-weight: bolder;
	font-size: 40px;
}
p{
	color:yellow;
	font-size: 18px;
	text-align: center;
}